{% load static %}

<link rel="stylesheet" href="{% static 'css/eb-style.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<div class="form-container">
  <h1 class="form-title">{% if object %}Edit{% else %}Add{% endif %} Item</h1>
  <form method="post">
    {% csrf_token %}

    <div class="form-wrapper">
      <label for="{{ form.name.id_for_label }}"
        ><i class="fa fa-box"></i> Name</label
      >
      {{ form.name }}
    </div>

    <div class="form-wrapper">
      <label for="{{ form.location.id_for_label }}"
        ><i class="fa fa-map-marker-alt"></i> Location</label
      >
      {{ form.location }}
      <datalist id="location-options">
        {% for loc in location_choices %}
        <option value="{{ loc }}"></option>
        {% endfor %}
      </datalist>
    </div>

    <div class="form-wrapper">
      <label for="{{ form.description.id_for_label }}"
        ><i class="fa fa-align-left"></i> Description</label
      >
      {{ form.description }}
    </div>

    <input type="submit" value="Save" class="btn" />
    <a href="{% url 'item_index' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
