{% extends 'base.html' %}{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/eb-style.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<div class="detail-container">
  <h1 class="form-title"><i class="fa fa-user"></i> {{ person.name }}</h1>

  <div class="detail-row">
    <div class="detail-label"><i class="fa fa-envelope"></i> Email:</div>
    <div class="detail-value">{{ person.email }}</div>
  </div>
  <div class="detail-row">
    <div class="detail-label"><i class="fa fa-users"></i> Relationship:</div>
    <div class="detail-value">{{ person.relationship }}</div>
  </div>
  <div class="detail-row">
    <div class="detail-label">
      <i class="fa fa-calendar-alt"></i> Next Contact Date:
    </div>
    <div class="detail-value">{{ person.contact_date }}</div>
  </div>
  <div class="detail-row">
    <div class="detail-label"><i class="fa fa-phone"></i> Phone Number:</div>
    <div class="detail-value">{{ person.phone_number }}</div>
  </div>
  {% if person.notes %}
  <div class="detail-row">
    <div class="detail-label"><i class="fa fa-pencil-alt"></i> Notes:</div>
    <div class="detail-value">{{ person.notes }}</div>
  </div>
  {% endif %}

  <div class="detail-actions">
    <a href="{% url 'person_update' person.id %}" class="btn"
      ><i class="fa fa-edit"></i> Edit</a
    >
    <a href="{% url 'person_delete' person.id %}" class="btn btn-secondary"
      ><i class="fa fa-trash"></i> Delete</a
    >
    <a href="{% url 'person_index' %}" class="btn"
      ><i class="fa fa-arrow-left"></i> Back to List</a
    >
  </div>
</div>
{% endblock content %}
