{% extends 'base.html' %}{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/eb-style.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


<div class="form-container">
  {% if object %}
  <h1 class="form-title">
    Edit <span class="teal-text">{{ object.name }}</span>
  </h1>
  {% else %}
  <h1 class="form-title">Add Person</h1>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-wrapper">
      <label for="{{ form.name.id_for_label }}"
        ><i class="fa fa-user"></i> Full name</label
      >
      {{ form.name }}
    </div>
    <div class="form-wrapper">
      <label for="{{ form.email.id_for_label }}"
        ><i class="fa fa-envelope"></i> Email address</label
      >
      {{ form.email }}
    </div>
    <div class="form-wrapper">
      <label for="{{ form.relationship.id_for_label }}"
        ><i class="fa fa-users"></i> Relationship</label
      >
      {{ form.relationship }}
    </div>
    <div class="form-wrapper">
      <label for="{{ form.phone_number.id_for_label }}"
        ><i class="fa fa-phone"></i> Phone number</label
      >
      {{ form.phone_number }}
    </div>
    <div class="form-wrapper">
      <label for="{{ form.contact_date.id_for_label }}">
        <i class="fa fa-calendar-alt"></i> Contact date
      </label>
      {{ form.contact_date }}
    </div>
    <div class="form-wrapper">
      <label for="{{ form.notes.id_for_label }}"
        ><i class="fa fa-pencil"></i> Short description</label
      >
      {{ form.notes }}
    </div>
    <input type="submit" value="Save" class="btn" />
    <a href="{% url 'person_index' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock content %}
