{% load static %}
<link rel="stylesheet" href="{% static 'css/eb-style.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<div class="table-container">
  <h1><i class="fa fa-users"></i> People</h1>
  <table>
    <thead>
      <tr>
        <th><i class="fa fa-user"></i> Name</th>
        <th><i class="fa fa-envelope"></i> Email</th>
        <th><i class="fa fa-users"></i> Relationship</th>
        <th><i class="fa fa-calendar-alt"></i> Next Contact</th>
        <th><i class="fa fa-eye"></i> View Details</th>
      </tr>
    </thead>
    <tbody>
      {% for person in person_list %}
      <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.relationship }}</td>
        <td>{{ person.contact_date }}</td>
        <td>
          <a href="{% url 'person_detail' person.id %}" class="btn"
            ><i class="fa fa-eye"></i> View</a
          >
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No people found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'person_create' %}" class="btn"
    ><i class="fa fa-plus"></i> Add Person</a
  >
</div>
